body{
    background-color: #3f1690;
    color: white;
    font-family: sans-serif;
}
h1{
    text-align: center;
    font-size: 60px;
    margin: 0 0 -50px 0;
}
img{
    margin: 2px;
    width: 100px;
    border: solid 3px white;
    border-radius: 20px;
}
img:hover{
    transition: 0.2s ease-in-out;
    transform: scale(1.1,1.1);
}
button{
    margin: 0 0 50px 0;
    padding: 5px 2px 5px 2px;
    font-weight: bold;
    color: white;
    border: solid white;
    border-radius: 20px;
    background-color: #3f1690
}
button:hover{
    transition: 0.3s ease-in-out;
    color: #3f1690;
    background-color: white;
}
darkTheme{
    background-color: black;
}